<h3>{{article.title}}</h3>
<h5 class="text-muted">By {{article.author}}</h5>
<p>{{article.body}}</p>
<img class="img img-responsive" src={{article.image}} alt="An article by {{article.author}}" />
<button class='btn btn-danger' {{action 'delete' article}}>Delete</button>
