<div id="details-well" class="well">
  <h3 id="article-header" >{{article.title}}</h3>
  <img class="img img-responsive" src={{article.image}} alt="An article by {{article.author}}" />
  <h5 class="text-muted">By {{article.author}}</h5>
  <p>{{article.body}}</p>
  <button class='pull-right btn btn-danger' {{action 'delete' article}}>Delete</button>
  {{update-article article=article update='update'}}
</div>
